// include all imported fonts here even google fonts
@charset 'utf-8';
/** font face **/
.font-a { }

@font-face {
    font-family: 'questrial';
    src: url('font/questrial-regular-webfont.woff2') format('woff2'),
         url('font/questrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksand';
    src: url('font/quicksand-bold-webfont.woff2') format('woff2'),
         url('font/quicksand-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'quicksand';
    src: url('font/quicksand-regular-webfont.woff2') format('woff2'),
         url('font/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'DellmonteSans';
  src: url('font/DellmonteSans.eot?#iefix') format('embedded-opentype'),
       url('font/DellmonteSans.woff') format('woff'),
       url('font/DellmonteSans.ttf')  format('truetype'),
       url('font/DellmonteSans.svg#DellmonteSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** font face **/
