//preloader
// adjust here the spinner size
$width: 27px;
.preloader { position:fixed; width:100%; height:100%; overflow:hidden; z-index: 99999; background-color: transparent; }
.svg-preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
  margin: 0 auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  // &:after { display: inline-block; vertical-align: middle; padding-right: 20px; width: 100px; height: auto; content: ''; background: url('../images/page_template/logo.png') no-repeat center; }
}
.circular {
  animation: rotatee 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@include keyframes(dash) {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
};

@include keyframes(color) {
  0% {
    stroke: #8f5327;
  }
  40% {
    stroke: #b97b48;
  }
  80% {
    stroke: #8f5327;
  }
  100% {
    stroke: #b97b48;
  }
};
@include keyframes(rotatee) { 100% { @include transform(rotate(360deg)); } }
@include keyframes(bouncee) { 0%, 100% { @include transform(scale(0.0)); } 50% { @include transform(scale(1.0)); } }
.explorer .preloader { background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.explorer .preloader .svg-preloader { display:none; }
