.inner-banner {
  .caption-banner { width: 100%; bottom: 20px; left: 0; color: $coGray;
    h1 { @include font-size(25px); font-family: $fontC; color: $coGray; letter-spacing: 4px; margin-bottom: 10px; }
  }

  @include breakpoint(lg) {
    > img { height: 450px; object-fit: cover; object-position: center; }
  };
}

.team-banner {
  @include breakpoint(md) {
    margin-left: -15px; width: calc(100% + 30px);
    img { height: 350px; object-fit: cover; object-position: center; }
  };
}

.vision { padding: 30px 0; min-height: 600px; background: url('../images/home/home_lucunda_bg.jpg') no-repeat center; background-size: cover;
  h2 { color: $coGold; letter-spacing: 4px; }
  .container { max-width: 928px;
    p { margin-bottom: 25px; }
  }

  .grapes { top: -270px; right: -330px; }

  @include breakpoint(lg) {
    .grapes { top: -150px; right: -150px; }
  };

}

.grapes { width: 600px;
  @include breakpoint(lg) {
    width: 300px;
  };

  @include breakpoint(md) {
    width: 250px;
  };
}

.readmore { display: inline-block; @include font-size(18px); font-weight: 600; color: $coGold;
  &:hover { color: darken($coGold, 10%); }
}

.team {
  .container { max-width: 1090px;
    h2 { @include font-size(25px); color: $coGold; letter-spacing: 3px; }
  }

  p { margin-bottom: 30px; }

  .grapes { top: -270px; left: -410px; }

  .team-content {
    h3 { @include font-size(25px); font-weight: 600; color: $coGray; }
    h4 { @include font-size(20px); color: $coGray; }

    .t-m-content {
      // &:after { position: absolute; bottom: 0; left: 0; width: 100%; height: 50%; content: ''; @include linear-gradient(to bottom, transparent 0, $coWhite 90%); }

      &.collapses {
        &:after { display: none; }
      }
    }
  }

  @include breakpoint(lg) {
    .grapes { top: -150px; left: -200px; }
  };

  @include breakpoint(md) {
    .grapes { width: 250px; top: -150px; left: -200px; }
  };
}

// .t-m-content { max-height: 143px; }

.place { background: url('../images/home/home_lucunda_bg.jpg') no-repeat center; background-size: cover;
  .grapes { top: -350px; right: -410px; left: auto; }

  @include breakpoint(lg) {
    .grapes { top: -150px; right: -170px; }
  };

}
