.contact-form {
  h2 { @include font-size(25px); color: $coGold; letter-spacing: 4px; }
  label { width: 170px; margin-top: 5px; margin-bottom: 0; }
  .form-control { margin-left: 170px; width: calc(100% - 170px); border: 1px solid lighten($coAsh, 10%); border-radius: 3px; }
  .upload { margin-left: 170px; width: calc(100% - 170px);
    small { display: block; line-height: 15px; }
  }

  .submit-btn { @include font-size(16px); padding: 13px 40px; border: 1px solid lighten($coGray, 10%); color: $coGray; text-align: center; background: transparent;
    &:hover { background: $coGold; color: $coWhite; }
  }

  .custom-upload { @extend .form-control; margin-left: 0; width: 100%;
    .custom-file { cursor: pointer; }
    .custom-file-input~.custom-file-label::after { left: 0; right: auto; padding: 6px 20px; content: 'Select file'; border: 1px solid #a1a4a8; background: $coWhite;  }
    .custom-file-input { cursor: pointer; }
    .custom-file-label { border: none; margin-top: 1px; padding-left: 117px; width: 100%; box-shadow: none !important; cursor: pointer; }
  }

  @include breakpoint(md) {
    label,.upload { float: none !important; width: auto; margin-left: 0; }
    .form-control { margin-left: 0; width: 100%; }
  };

}
