// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { @include font-size(16px); z-index: 2; position: relative; padding: 90px 0; background: $coBlack; color: $coWhite;
  .footer-link {
    h3 { font-family: $fontB; font-weight: bold; @include font-size(16px); margin-bottom: 20px; color: $coGold; }
    li {
      a { display: inline-block; letter-spacing: 2px; color: $coWhite; margin-bottom: 10px;
        &:hover { color: $coGold; }
      }
    }
    p {
      a { color: $coWhite; }
    }
  }

  .legel-line { padding-top: 30px;
    p { letter-spacing: 1px; margin: 0;
      a { color: $coWhite; }
    }
  }

  .fa-instagram { @include font-size(25px); }

  .back-top { position: absolute; top: -50px; left: 0; width: 100%; cursor: pointer;
    span { display: inline-block; font-weight: 600; padding: 9px; width: 290px; margin: 0 auto; color: $coGray; background: $coWhite; border: 1px solid lighten($coAsh, 30%); border-bottom: none;
      i { display: block; font-style: normal;
        &.fa-angle-up { @include font-size(27px); line-height: 12px; }
      }
    }
  }

  @include breakpoint(md) {
    background: #1d1d1b; padding: 0;
    .footer-link { padding-top: 40px;
      .col-12 { margin-bottom: 20px; }
    }

    .legel-line { background: $coWhite; padding: 40px 15px; color: $coGray; }
  };
}
