// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; }
html {
  @include breakpoint(md) {
    font-size: 14px;
  };
}
header { background: $coWhite; border-bottom: 2px solid $coGold;
  .container { max-width: 1344px; }
  .logo { margin: 15px 0; }
  .nav {
    li { display: inline-block; padding-top: 26px; padding-left: 40px;
      a { display: block; position: relative; color: $coBlack; letter-spacing: 2px; @extend .ease;
        &:before { position: absolute; bottom: 0; left: calc(50% - 15px); content: ''; width: 30px; margin: 0 auto; border-top: 2px solid $coGold; @include transform(scale(0)); @include transform-origin(center); @include transition(all 0.5s ease); }
        &:hover { color: $coGold;
          &:before { @include transform(scale(1)); }
        }
      }
    }
  }

  .notify { font-size: 11px; position: absolute; top: -12px; right: -10px; line-height: 17px; margin-bottom: 0; padding: 5px 2px 5px 4px; width: 23px; height: 23px; border-radius: 100%; background: $coRed; color: $coWhite; text-align: center; }

  .burger-menu { position: absolute; top: 12px; right: 15px; width: 45px; height: 45px; padding: 15px 10px; background: lighten($coAsh, 30%); cursor: pointer;
    span { display: block; border-top: 2px solid $coGray; @include transition(all 0.2s ease);
      &:nth-child(2) { margin: 4px 0; }
    }

    &.active {
      span {
        &:nth-child(1) { @include transform(rotate(-225deg) translate(5px, -5px)); }
        &:nth-child(2) { @include transform(scale(0)); }
        &:nth-child(3) { @include transform(rotate(-315deg) translate(-3px, -4px)); }
      }
    }
  }

  @include breakpoint(lgmin) {
    .nav { display: flex !important; }
  };

  @include breakpoint(lg) {
    position: fixed; top: 0; left: 0; width: 100%; z-index: 9;
    .logo { float: none !important; width: 170px; margin-left: auto; margin-right: auto; }
    .nav { display: none; position: absolute; width: 100%; padding: 50px 0; top: 70px; left: 0; background: #ebebeb; text-align: center;
      li { @include font-size(21px); font-family: $fontC; display: block; padding: 10px 0;
        a { display: inline-block; letter-spacing: 4px; color: $coGold; }
      }

      // &.open { @include transform(translateY(0)); }
    }
  };

  @include breakpoint(md) {
    .nav { padding: 30px;
      li { padding: 6px 0; }
    }
  };
}
