// this is area is for reserved class
#main-container { position: relative; height:100%; height: auto !important; min-height:100%; @include font-size(17px); line-height: 28px; overflow: hidden; }
.hide { position:relative; }
.ease,a,input[type="submit"],button { @include transition(all 0.2s ease); }
.ease2 { @include transition(all 0.2s ease); }
.loader { position:relative; overflow:hidden; background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.auto { max-width:$maxWidth; margin-left: auto; margin-right: auto; }
.img-auto { width: 100%; height: auto; }
.container { max-width: $maxWidth; }
.ov-hidden { overflow: hidden; }
#main-wrapper {
  @include breakpoint(lg) {
    margin-top: 69px;
  };
}

input{
  &::-webkit-inner-spin-button{
    opacity:1;
  }
}

.form-control { padding: 10px; }

.zx1 { z-index: 1; }
.zx2 { z-index: 2; }
.zx3 { z-index: 3; }
.zx4 { z-index: 4; }
.zx5 { z-index: 5; }
.zx6 { z-index: 6; }
.overflow { overflow: hidden; }
.pl-0 { padding-left: 0; }
.pr-0 { padding-right: 0; }

.preloader { position:fixed; width:100%; height:100%; overflow:hidden; background: #fbede4 url('../images/page_template/logo.png') no-repeat; background-position: 50% 47%; background-size: 250px; }
.explorer .preloader { background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.explorer .preloader .spinner { display:none; }
// this is area is for reserved class

// you can include here the rest of your class name eg. home page
.fadeUp,
.fadeUpSelf,
.fadeLeft,
.fadeRight,
.fadeIn { opacity: 0; }

.touch {
  .fadeUp,
  .fadeUpSelf,
  .fadeLeft,
  .fadeRight,
  .fadeIn { opacity: 1; }
}

.red-btn { display: inline-block; @include font-size(16px); padding: 5px 25px; color: $coWhite; background: $coRed; border: none;
  &:hover { background: lighten($coRed, 10%); color: $coWhite; }
}

.white-btn { display: inline-block; padding: 10px 30px 8px; color: $coGray; letter-spacing: 2px; background: $coWhite; text-transform: uppercase; border: 1px solid $coLGray;
  &:hover { background: $coGold; color: $coWhite; }
}

.scale { @include transition(all 3s ease);
  &:hover { @include transform(scale(1.2)); }
}

.home-banner {
  .carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 1s;
    left: 0;
    top: 0;
    position: absolute;
  }
  .carousel.carousel-fade .carousel-item.active {
      opacity: 1 !important;
  }
  .carousel.carousel-fade .carousel-item:first-child {
      top: auto;
      position: relative;
      transition: opacity ease-out 1s;
  }
  .carousel.carousel-fade .carousel-item:second-child {
      top: auto;
      position: relative;
      transition: opacity ease-out 1s;
  }
  .carousel-item .img-fluid {
      margin: 0 auto;
  }
  .carousel img {
      opacity: 1;
      filter: alpha(opacity=50);
  }

  @include breakpoint(md) {
    .carousel-inner { height: 400px;
      .carousel-item {
        > img { height: 430px; object-fit: cover; object-position: center; }
      }
    }
  };
}


h2 { font-family: $fontC; }

.h-layer2 { padding: 30px 0; min-height: 536px; background: url('../images/home/home_lucunda_bg.jpg') no-repeat center; background-size: cover;
  h2 { @include font-size(35px); color: $coGold; margin-bottom: 40px; }
  p { margin-bottom: 30px; color: $coGray; }

  @include breakpoint(md) {
   min-height: 300px; padding: 50px 0;
  };
}

.h-layer3 { @include font-size(18px); background: $coMaroon; color: $coWhite;
  h2 { @include font-size(25px); text-transform: uppercase; letter-spacing: 4px; }
}

.h-layer4 { position: relative; padding: 100px 0 20%; @include linear-gradient(to bottom, #dae1e5 0, #ffedd0 100%);
  &:before { position: absolute; bottom: -2px; left: 0; width: 100%; height: 100%; content: ''; background: url('../images/home/grass.png') no-repeat bottom center; background-size: 100%; }
  .container { max-width: 930px;
    .add-cart { display: inline-block; padding: 10px 30px 8px; color: $coGray; letter-spacing: 2px; background: $coWhite; text-transform: uppercase; border: 1px solid $coLGray;
      &:hover { background: $coGold; color: $coWhite; }
    }
  }

  @include breakpoint(md) {
    padding-bottom: 30%;
    .wine-bottles { display: block; width: 100px; margin: 0 auto; margin-bottom: 30px; }
    .add-cart { margin-top: 10px !important; }
  };
}

.carousel-control-next,
.carousel-control-prev { width: auto; @include font-size(40px); bottom: auto; top: 50%; opacity: 1; color: lighten($coGray, 20%) !important; @include transform(translateY(-50%));

  &:hover {
    color: $coGray !important;
  }

  &.inactive {
    opacity: 0.6;
    pointer-events: none;
  }
}

.carousel-control-next { right: -15%; }
.carousel-control-prev { left: -15%; }
.nav-btn {
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  outline: none;
  color: $coWhite;
  margin-right: 15px;
  background: rgba(154,25,44,1);
  background: -moz-linear-gradient(-45deg, rgba(154,25,44,1) 0%, rgba(120,27,49,1) 18%, rgba(103,27,49,1) 40%, rgba(120,27,49,1) 66%, rgba(148,25,44,1) 97%, rgba(148,25,44,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(154,25,44,1)), color-stop(18%, rgba(120,27,49,1)), color-stop(40%, rgba(103,27,49,1)), color-stop(66%, rgba(120,27,49,1)), color-stop(97%, rgba(148,25,44,1)), color-stop(100%, rgba(148,25,44,1)));
  background: -webkit-linear-gradient(-45deg, rgba(154,25,44,1) 0%, rgba(120,27,49,1) 18%, rgba(103,27,49,1) 40%, rgba(120,27,49,1) 66%, rgba(148,25,44,1) 97%, rgba(148,25,44,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(154,25,44,1) 0%, rgba(120,27,49,1) 18%, rgba(103,27,49,1) 40%, rgba(120,27,49,1) 66%, rgba(148,25,44,1) 97%, rgba(148,25,44,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(154,25,44,1) 0%, rgba(120,27,49,1) 18%, rgba(103,27,49,1) 40%, rgba(120,27,49,1) 66%, rgba(148,25,44,1) 97%, rgba(148,25,44,1) 100%);
  background: linear-gradient(135deg, rgba(154,25,44,1) 0%, rgba(120,27,49,1) 18%, rgba(103,27,49,1) 40%, rgba(120,27,49,1) 66%, rgba(148,25,44,1) 97%, rgba(148,25,44,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a192c', endColorstr='#94192c', GradientType=1 );
}
