.our-wine { background: url('../images/home/home_lucunda_bg.jpg') no-repeat center; background-size: cover;
  h2 { @include font-size(25px); color: $coGold; letter-spacing: 4px; }

  .h-layer4 { background: none;
    &:before { display: none; }
    p {
      span { display: inline-block; padding: 0 10px; }
    }
    label { display: block; @include font-size(25px); font-weight: bold; color: #8f181b; }
    .addcart-field {
      .form-control { width: 105px; border-radius: 0; border-color: $coAsh; }
    }

    .blue { border-radius: 5px; padding: 5px 20px 4px; background: $coBlue;
      &:hover { background: lighten($coBlue, 10%); }
    }

    > .row {
      margin-bottom: 90px;

      &:last-child {
        margin-bottom: 0;
      }
        
    }
  }

  @include breakpoint(md) {
    .container { text-align: center !important; }

    .h-layer4 {
      > .row {
        margin-bottom: 50px;
      }
    }

  };
}

.shipment { color: $coGray;
  .shipment-content { margin-left: 180px;
    h3 { @include font-size(20px); font-weight: 600; }
  }


  @include breakpoint(sm) {
    .ship-list {
      .shipping-icon { float: none !important; margin-bottom: 30px; border-top: 1px solid lighten($coAsh, 20%); padding-top: 50px; }
      .shipment-content { margin-left: 0; }

      &:first-child {
        .shipping-icon { border-top: none; padding-top: 0; }
      }
    }
  };
}
