.shopping-cart { min-height: calc(100vh - 374px); background: url('../images/home/home_lucunda_bg.jpg') no-repeat center; background-size: cover;
  h1 { font-family: $fontC; @include font-size(25px); color: $coGold; letter-spacing: 4px; }

  .shopping-list { background: $coWhite; border: 1px solid lighten($coAsh, 10%); color: $coGray;
    .shop-title { background: lighten($coAsh, 30%); padding: 10px 15px 8px; }

    .s-list {
      .thumbnail { float: left; position: relative; width: 111px; margin-right: 20px; border-radius: 8px; border: 1px solid $coAsh; overflow: hidden; }
      h3 { @include font-size(17px); font-weight: bold; margin-top: 10px; }
    }

    .trash-btn { @include font-size(23px); color: $coGray; }

    .total { padding: 15px 15px; border-top: 1px solid $coAsh;
      .apply-coupon-field { width: 250px; }
    }
  }

  .green { @include font-size(23px); padding: 13px 30px; background: $coGreen; border-radius: 5px;
    i { padding-left: 4px; }
    &:hover { background: lighten($coGreen, 10%); }
  }

  @include breakpoint(md) {
    padding-top: 10px !important;
    .shopping-list {
      .quantity { width: 100px; }
      .s-list { padding: 15px !important; }

      .sm-bold { font-weight: bold; }

      .total {
        .apply-coupon-field { margin-top: 10px; }
        label { display: block;
          span { display: block; }
          .price-label { float: left; }
          .total-price { float: right; }
        }
      }
    }
  };

  @include breakpoint(sm) {
    .shopping-container { margin-top: 30px; padding-bottom: 30px; background: $coWhite; border: 1px solid lighten($coAsh, 10%);
      .shopping-list { border: none; margin-top: 0 !important;
        .total {
          .apply-coupon-field { width: 100%; }
        }
      }

      .checkout-btn { margin: 0 auto; margin-top: 10px !important; width: calc(100% - 43px);
        .green { display: block; border-radius: 2px; }
      }
    }
  };
}

.amount,
.fee,
.totals { font-style: normal; }
