// include all templated CSS properties here such as font sizes, margin, padding, color, background color, etc

// for width
$maxWidth   : 1082px; // can be use as max width of the container

// for fonts
$defaultFont: 'questrial', 'Helvetica', 'Calibri'; // default font families and error support for any html tags
$fontA      : 'questrial';
$fontB      : 'quicksand';
$fontC      : 'DellmonteSans';

// for font sizes
$fontSmall  : 12px;
$fontMedium : 14px;
$fontLarge  : 16px;
$fontxLarge : 18px;
$fontxxLarge: 20px;

// for colors
$defaultColor     : #000000; // default color for the independent paragraphs, input fields, etc
$siteColor        : #000000; // default color for the website
$defaultLinkColor : #3189DD; // default link color for the whole site
$coWhite          : #ffffff;
$coBlack          : #000000;
$coBlue           : #3471b1;
$coRed            : #ca0240;
$coAsh            : #878a8f;
$coGold           : #807a4a;
$coGray           : #3c3c3b;
$coLGray          : #747271;
$coMaroon         : #641b30;
$coGreen          : #49a734;

// for margin and padding
$spaceOne   : 10px;
$spaceTwo   : 20px;
$spaceThree : 30px;
$spaceFour  : 40px;
$spaceFive  : 50px;

// for image sprite
//$imgSprite: url('');
